ul,
li,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-left: 20px;
  transform: translateY(50vh);
  background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
  -webkit-background-clip: text;
  color: transparent;
  border-image: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
  border-image-slice: 1;
  background-position: 0 0;
  animation: background 2s infinite alternate;
}

.title__name {
  font-size: 2em;
  font-weight: bold;
}

.title__portfolio {
  font-family: "Agency FB";
  font-size: 10em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 0.8em;
  letter-spacing: -8px;
}

.layer1 {
  position: fixed;
  z-index: -2;
  background: url("../img/palm1-f.jpg") no-repeat;
  width: 110%;
  height: 100%;
  top: 0;
  left: 0;
}

.layer2 {
  position: absolute;
  z-index: -1;
  background: url("../img/palm2-3.png")no-repeat;
  width: 1207px;
  height: 1523px;
  top: 0px;
  left: 0px;
}

.layer3 {
  position: absolute;
  background: url("../img/kol2.png")no-repeat;
  width: 1266px;
  height: 1503px;
  top: 0px;
  left: 0px
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(20vh);
      -ms-transform: translateY(20vh);
          transform: translateY(20vh);
  -webkit-transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
          transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
}


.background:first-child {
   z-index: 3;
  -webkit-transform: translateY(-10vh);
      -ms-transform: translateY(-10vh);
          transform: translateY(-10vh);
}

.background:nth-child(2) {
  z-index: 2;
  background-image: url("../img/gold.jpg");
}

.background:nth-child(3) {
  z-index: 1;
  background-image: url("../img/5372.jpg");
}

.background:nth-child(4) {
  background: linear-gradient(#ffe6ad,#6b5e49), 
  url("../img/test3.jpg")no-repeat 50% 50%; 
  background-blend-mode: multiply;
}

.mywork,
.skills {
  display: flex;
  flex-direction:column;
  width: 1100px;
  margin: 0 auto;
  margin-top: 15vh;
  padding-top: 15px;
  padding-left: 25px;
  border-radius: 2px;
  box-sizing: border-box;
  transition-duration: 1s;
  color: rgba(0,0,0, .8);
}

.mywork {
  background: #fffcdf;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.mywork-maket{
  display: flex;
  position: relative;
  height: 300px;
  margin-bottom: 10px;
}

.mywork-maket__photo {
  position: relative;
  padding-right: 10px;
}

.mywork-maket__photo img {
  width: 370px;
  height: 300px;
  box-shadow: 0 0 40px rgba(136, 134, 134, 0.2);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 370px;
    height: 300px;
    background: #cdff6bd9;
    transition-duration: 0.5s;
}

.mywork-maket__photo:hover .overlay {
    opacity: 1;
}

.mywork-maket__title,
.skills__position {
  padding-left: 10px;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 600;
  color: #777777;
}

.mywork-maket__text {
  width: 492px;
  padding: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #2ee59d;
}

.mywork-maket p {
  font-size: 16px;
  line-height: 1.5em;
  color: #5d5d5d;
}

.skills {
 padding: 15px 80px 0;
}

.skills p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 5px;
}

.skills__SIF {
  margin: 15px 0 25px;
  font-size: 3.5em;
  letter-spacing: -6px;
  word-spacing: .15em;
  color: #767573;
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.86);
  text-align: center;
}

.skills__position {
  text-align: center;
  font-size: 27px;
  border-bottom: 1px solid #2ee59d;
  margin: 15px;
}

.skills-text--color{
  font-weight: 600;
  padding-right: 10px;
  color: #777777;
  padding: 9px 3px 9px 0;
}

.skills-text--html{
  text-decoration: underline;
  padding: 50px 250px 0 20px;
  background: url("../img/academy-logo.jpg")no-repeat 75% 100%;
}

.skills-link--wrap {
  margin-top: 10px;
}

.skills-list--border {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

.skills-list--border li,
.skills-link {
  display: inline-block;
  width: 44%;
  padding: 10px 15px;
  height: 50px;
  margin-bottom: 15px;
  margin-right: 25px;
  letter-spacing: 3px;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
  transition: .3s;
}

.skills-link{
  margin-top: 10px;
  height: 60px;
  margin-bottom: 5px;
  color: #ffffff;
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
}

.skills-link:hover {
  color: #524f4e;
  background: #ffffff;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transform: translateY(-7px);
}

.skills-list--border li:nth-child(2n),
.skills-link:nth-child(2n){
  margin-right: 0;
}

.contacts {
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
}

.contacts-form {
  display:flex;
  flex-direction: column;
}

.contacts-form p {
  color: #ffffff; 
}

.form-title {
  text-align: center;
  font-size: 25px;
}

.contacts .btn-form {
  padding: 0;
  width: 200px;
  height: 50px;
  margin-left: 150px; ;
  border-radius: 5px;
}

.contacts input,
.contacts textarea{
    width: 495px;
    margin-bottom: 8px;
    color: #333;
    padding-left: 5px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15);
    line-height: 30px;
    font-size: 14px;
    outline: none;
    padding-top: 3px;
    border: 8px solid #fac53b;
}

.contacts input:focus,
.contacts textarea:focus {
  transform: scale(1.025);
}


.btn {
  position: absolute;
  padding: 10px;
  padding-top: 33px;
  width: 70px;
  height: 43px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border-radius: 50%;
  border: 8px solid #ffffff;
  box-shadow: 0 6px 7px rgba(0,0,0,0.15);
  background: #fac53b;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  line-height: 1em;
  font-weight: 600;
  color: #ffffff;
  transition-duration: 1s;
}

.btn-right {
  top: 100px;
  right: 60px;
}

.btn-left {
  top: 100px;
  left: 60px;
}

.btn:hover {
   color: #ff8e0c;
   transform: scale(1.05);
   box-shadow: 0px 8px 10px 0px rgba(0, 0, 0,0.3); 
}

.btn:active {
   box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
   background: #ffffffcc;
}

.mail {
  position: absolute;
  bottom: 150px;
  right: 30px;
  width: 200px;
  height: auto;
  font-size: 14px;
  color: #ffffff;
}

.loaderArea {
  background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
 
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
 
.loader:before {
  animation: animate 2s infinite linear;
}
 
.loader:after {
  animation: animate2 2s infinite linear;
}


@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
 
@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

@keyframes background {
  100% {
    background-position: 0 200px;
  }
}
