body{padding:0;margin:0;font-weight:400;font-size:16px;line-height:24px;font-family:"OpenSans",Arial,sans-serif;}
img{max-width:100%;height:auto;}
h2,
ul,
p,
li,
figure,
blockquote{margin:0;padding:0;}
ul,
li{list-style:none;}
a{text-decoration:none;color:#000000;font-family:"Verdana",Arial,sans-serif;font-size:16px;line-height:24px;font-weight:bold;outline:none;transition:opacity 0.2s;}
*{box-sizing:border-box;}
.main-header a:hover,
.reviews__arrow a:hover{opacity:0.5;}
.main-header a:active,
.reviews__arrow a:active{opacity:0.2;}
.main-nav{display:flex;max-width:1150px;margin:0 auto;}
.main-nav__toggle{display:none;}
.main-nav__list,
.main-nav__item{display:flex;flex-wrap:wrap;}
.main-nav__list li{min-width:86px;min-height:90px;}
.main-nav__list a{display:block;}
.main-nav__item{border-bottom:1px solid #e7e7e7;}
.main-nav__item a:not(.nav-logo){width:100%;padding:31px 35px 0 30px;fill:#d3d2d2;}
.main-nav__item a:hover{fill:#0fa98a;}
.main-nav__search a{font-size:0;}
.main-nav__logo{order:0;padding:9px 96px 0 35px;}
.main-nav__logo img{width:150px;height:72px;}
.main-nav__catalog{order:-2;padding-left:21px;}
.main-nav__knitting{order:-1;}
.main-nav__knitting,
.main-nav__search,
.main-nav__cart{border-left:1px solid #e7e7e7;}
.main-nav__cart{text-align:right;}
.main-nav__cart span{padding-left:21px;}
.main-nav__bottom{z-index:2;padding-left:21px;}
.main-nav__bottom a{width:100%;padding:17px 11px 0 30px;font-size:14px;}
.main-nav__delivery{margin-left:auto;margin-right:50px;padding-top:17px;font-family:"Verdana",Arial,sans-serif;font-style:normal;font-size:14px;}
.container{position:relative;max-width:1150px;padding:0 50px;margin:0 auto;}
.main--fon{position:relative;margin-top:-90px;background-color:#f9f9f9;}
.page-main__wrapper{background-color:#f9f9f9;background-image:url("../img/hero-desktop.jpg");background-repeat:no-repeat;background-size:1150px 746px;background-position:50% 0;}
.page-main__title{padding:152px 0 360px;margin:0 auto;font-family:"Verdana",Arial,sans-serif;font-size:50px;line-height:57px;text-align:center;}
.main--fon::after{content:"";position:absolute;display:block;bottom:-13px;left:-4px;width:100%;height:36px;background:url("../img/zigzag-fill-desktop.png") repeat-x;background-size:contain;}
.center-menu{margin-bottom:28px;}
.center-menu__item{display:inline-block;width:50%;position:relative;margin-right:-5px;}
.center-menu__item1{background-color:#63d1bb;}
.center-menu__item2{background-color:#56c3b2;}
.center-menu__item a{display:block;font-family:"Tahoma",Arial,sans-serif;font-size:20px;line-height:30px;padding:27px 0 40px 38px;width:100%;color:#ffffff;}
.center-menu__item:hover{transform:translateY(-5px);transition-duration:0.5s;}
.center-menu__item a:active{color:#8be2d0;}
.center-menu__item1::after{content:"";position:absolute;top:30px;right:36px;width:41px;height:62px;background-image:url("../img/sprites.png");background-repeat:no-repeat;background-position:-6px -108px;opacity:0.5;}
.center-menu__item:hover::after{opacity:1;}
.center-menu__item:active::after{opacity:0.5;}
.center-menu__item2::after{content:"";position:absolute;top:30px;right:36px;width:60px;height:61px;background-image:url("../img/sprites.png");background-repeat:no-repeat;background-position:-58px -109px;opacity:0.5;}
.best-product{position:relative;margin-bottom:155px;}
.best-product__header{position:relative;margin-top:81px;z-index:2;}
.best-product__top-week{display:inline-block;width:100px;margin:0 33px;font-weight:700;line-height:16px;text-transform:uppercase;text-align:center;color:#63d1bb;}
.best-product__title{display:inline-block;font-family:"Verdana",Arial,sans-serif;font-size:50px;line-height:57px;font-weight:700;}
.best-product__wrapper{max-width:288px;margin:18px 0 100px 175px;line-height:30px;color:#444444;}
.best-product__table{width:100%;margin-top:52px;margin-bottom:107px;font-size:15px;line-height:20px;}
.best-product__table tr{border-bottom:1px solid #e7e7e7;}
.best-product__table td:not(:nth-child(2)){padding:9px 3px 9px 0;}
.best-product__photo{position:absolute;width:525px;height:636px;top:-16px;right:51px;z-index:1;}
.best-product__price{margin-left:26%;margin-bottom:11%;font-family:"Verdana",Arial,sans-serif;font-weight:700;font-size:18px;line-height:24px;color:#444444;}
.btn{display:inline-block;padding:18px 45px;border:2px solid #444444;font-size:16px;line-height:16px;font-family:"OpenSans",Arial,sans-serif;font-weight:700;text-transform:uppercase;background-color:#ffffff;text-align:center;color:#444444;cursor:pointer;outline:0;transition-duration:0.3s;}
.btn:hover{color:#ffffff;background-color:#444444;}
.btn:active{color:#7c7c7c;}
.btn--big{display:block;width:100%;max-width:586px;margin:0 auto;}
.best-product::after,
.reviews::after{content:"";position:absolute;width:100%;height:25px;left:0;bottom:-15%;background:url("../img/line.png") repeat-x;background-size:contain;}
.about-us{padding:0 147px 0 167px;}
.title{font-family:"Verdana",Arial,sans-serif;font-size:50px;line-height:57px;font-weight:700;padding-bottom:50px;}
.about-us__list{display:flex;flex-wrap:wrap;font-family:"Verdana",Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;}
.about-us__item{width:49%;position:relative;padding:54px 3px 0 3px;margin-bottom:50px;}
.about-us__item::before{content:"";position:absolute;top:5px;left:5px;width:55px;height:40px;background-image:url("../img/sprites.png");background-repeat:no-repeat;}
.about-us__item1::before{background-position:-131px -155px;}
.about-us__item2::before{background-position:-236px -105px;}
.about-us__item3::before{background-position:-231px -62px;}
.about-us__item4::before{background-position:-223px -12px;}
.about-us__item5::before{background-position:-252px -164px;}
.about-us__item6::before{background-position:-167px -9px;}
.reviews{position:relative;margin-bottom:160px;}
.reviews__wrapper{display:flex;justify-content:space-between;flex-wrap:wrap;max-width:1150px;margin:0 auto;padding:105px 50px 112px 219px;background:url("../img/review.jpg") no-repeat;background-position:50px 38px;}
.reviews__title{order:1;flex-basis:49%;flex-grow:1;}
.reviews__btn{order:2;width:175px;align-self:flex-start;margin-left:auto;margin-top:10px;}
.reviews blockquote{order:3;width:670px;line-height:30px;color:#444444;}
.reviews__text{padding-bottom:4px;}
.reviews__author-name{display:block;font-family:"Verdana",Arial,sans-serif;font-weight:700;font-style:normal;color:#000000;}
.reviews__arrow{order:4;align-self:flex-end;margin-bottom:10px;margin-right:20px;}
.reviews-btn--prew{display:inline-block;margin-right:30px;background:url("../img/sprites.png") no-repeat;background-position:-103px -9px;width:50px;height:26px;}
.reviews-btn--next{display:inline-block;background:url("../img/sprites.png") no-repeat;background-position:-71px -53px;width:50px;height:26px;}
.contacts{position:relative;max-width:1150px;margin:0 auto;}
.contacts__info{position:relative;padding-top:56px;padding-left:219px;}
.contacts__info::before{content:"";position:absolute;top:49px;left:114px;width:47px;height:81px;background:url("../img/sprites.png") no-repeat;background-position:-4px -9px;}
.contacts__map{position:absolute;top:-11px;right:49px;}
.contacts__btn{margin:34px 0 100px 224px;}
.contacts__table{max-width:350px;margin-bottom:7px;margin-right:20px;font-size:16px;line-height:30px;color:#444444;}
.contacts__table td{padding-right:31px;padding-bottom:30px;vertical-align:top;}
.contacts__table a{color:#444444;font-weight:400;}
.contacts__table span{padding-bottom:2px;border-bottom:1px solid #56c3b2;}
.contacts__table a:hover{color:#63d1bb;}
.contacts__table a:active{opacity:0.3;}
.main-footer{min-height:145px;background:#f1f1f1;}
.main-footer__wrapper{display:flex;justify-content:space-between;max-width:1150px;padding:55px 50px;margin:0 auto;}
.main-footer__social{margin-left:110px;margin-top:8px;}
.social-link{font-size:0;padding-right:35px;}
.main-footer__copyright{margin-top:10px;}
.main-footer__copyright span{padding-right:20px;padding-top:4px;font-family:"Verdana",Arial,sans-serif;font-size:18px;font-weight:700;line-height:18px;}
.main-footer__copyright a{display:flex;fill:#63d1bb;}
.main-footer__copyright a:hover{fill:#46c1ae;}
.main-footer__copyright:active{opacity:0.3;}
.social-links a:hover{fill:#63d1bb;}
.social-links a:active{fill-opacity:0.6;}
@media (max-width:1150px) and (min-width:768px){.main-nav--none{display:none;}
.main-nav{max-width:1050px;position:relative;z-index:2;}
.main-nav__catalog a:not(.nav-logo),
.main-nav__knitting a:not(.nav-logo){font-size:14px;padding:19px 0 0 0;}
.main-nav__logo{order:1;width:49%;}
.main-nav__logo img{width:113px;height:46px;margin-top:14px;margin-left:12px;}
.main-nav__search{order:2;width:11%;text-align:center;}
.main-nav__cart{order:3;width:39%;}
.main-nav__catalog{order:6;width:25%;margin-left:27px;border:0;}
.main-nav__knitting{order:7;width:25%;border:0;}
.main-nav__delivery{order:8;margin-right:34px;}
.page-main__title{width:557px;padding-bottom:375px;font-size:40px;line-height:50px;}
.main--fon::after,
.best-product::after,
.reviews::after{background-size:auto;}
.best-product{margin-bottom:142px;}
.best-product__wrap{display:flex;flex-wrap:wrap;}
.best-product__header{display:flex;width:100%;margin:0;margin-bottom:50px;}
.best-product__top-week{order:2;padding:17px 25px 0 0;margin:0;margin-left:auto;}
.title,
.best-product__title{font-size:40px;line-height:0;}
.best-product__wrapper{margin:0;}
.best-product__table{margin-top:40px;margin-bottom:56px;}
.best-product__photo{width:333px;height:404px;right:47px;top:112px;}
.title{padding-bottom:73px;}
.about-us{padding:0;}
.reviews__wrapper{max-width:1050px;margin:0 auto;padding:127px 41px 95px 54px;background-position:0 38px;}
.reviews__btn{margin-top:-18px;}
.reviews__arrow{position:absolute;right:42px;bottom:89px;}
.container{position:relative;max-width:1050px;padding:0 50px;margin:0 auto;}
.contacts__table{display:inline-block;vertical-align:top;}
.contacts__info::before{top:-27px;left:88%;}
.contacts__map{width:100%;top:230px;right:0;}
.contacts__map iframe{width:100%;}
.contacts__info{padding-top:8px;padding-left:52px;}
.contacts__btn{display:block;width:232px;margin:534px auto 50px;}
}
@media (max-width:767px){body,
a,
.contacts__table{font-size:14px;line-height:30px;}
.btn{width:260px;margin:0 auto;padding:18px 56px;}
.main-nav{max-width:412px;min-width:320px;overflow:hidden;}
.container,
.reviews__wrapper,
.contacts__info{padding:0 29px;max-width:412px;min-width:320px;margin:0 auto;}
.main-nav__list li{min-height:80px;}
.main-nav__item{align-items:center;justify-content:center;width:100%;padding:0;text-align:left;border:0;border-bottom:1px solid #ececec;order:1;}
.main-nav__list{flex-grow:1;}
.main-nav__list a:not(.nav-logo){padding:15px 0;padding-left:24%;font-size:16px;}
.main-nav__logo{position:relative;z-index:20;padding:22px 0 12px;background-color:#ffffff;}
.main-nav__logo img{width:86px;height:35px;}
.main-nav__search span{padding-left:24px;}
.main-nav__search a,
.main-nav__cart a{margin-left:-88px;}
.main-nav__bottom{display:none;}
.main-nav__toggle{position:absolute;display:block;top:30px;right:26px;width:30px;height:30px;background:transparent;border:none;outline:none;}
.main-nav--closed .main-nav__toggle::before{content:"";position:absolute;top:3px;left:5px;width:20px;height:2px;background-color:#000000;box-shadow:0 6px 0 0 #000000,
0 12px 0 0 #000000;transition-duration:0.3s;}
.main-nav--opened .main-nav__toggle::before{content:"";position:absolute;top:0;left:5px;width:21px;height:21px;background:#ffffff url("../img/menu-close.png") no-repeat 50% 50%;transition-duration:0.3s;}
.main-nav--closed .item--closed{display:none;}
.main--fon{margin-top:0;}
.main--fon::after{display:none;}
.page-main__wrapper{background:url("../img/hero-mobile.jpg") no-repeat;background-position:50% 0;}
.best-product__photo{width:260px;height:315px;}
.page-main__title,
.best-product__title,
.title{font-size:24px;line-height:30px;}
.page-main__title{padding:90px 30px 120px;}
.main--fon .container{padding:0;}
.center-menu__item{width:100%;}
.center-menu__item:hover{transform:translateY(0);}
.center-menu__item a{padding:27px 0 28px 32px;font-size:18px;line-height:24px;}
.best-product{margin-bottom:62px;}
.best-product::after,
.reviews::after{bottom:-7%;}
.best-product__header{display:flex;flex-wrap:wrap;flex-grow:1;margin-top:0;}
.best-product__title{width:100%;margin:0;order:1;}
.best-product__top-week{width:100%;order:2;margin:7px 0 24px 0;text-align:left;}
.best-product__wrapper{margin:0;line-height:24px;}
.best-product__table{margin-top:21px;margin-bottom:368px;font-size:14px;}
.best-product__photo{top:316px;left:28px;}
.about-us{padding:0;}
.about-us__item{width:100%;padding:36px 0 0 0;margin-bottom:47px;font-size:16px;}
.about-us__item::before{top:-13px;}
.about-us__item3{order:1;}
.about-us__item5{order:2;}
.about-us__item2{order:4;}
.about-us__item4{order:5;}
.about-us__item6{order:6;}
.reviews{margin-bottom:86px;}
.reviews__wrapper{background:none;}
.reviews__btn{order:5;}
.reviews__title{padding:10px 0 25px 0;}
.reviews__text{padding-bottom:13px;}
.reviews__arrow{width:100%;text-align:center;margin:41px 0 29px;}
.reviews-btn--prew{margin-right:77px;}
.contacts__info::before{display:none;}
.contacts__info .title{padding-bottom:25px;}
.contacts__table{margin:0;}
.contacts__table td{max-width:200px;padding-right:20px;}
.contacts__map{width:100%;top:235px;right:0;}
.contacts__map iframe{width:100%;}
.contacts__btn{margin-top:493px;margin-bottom:34px;display:flex;align-content:center;}
.main-footer__wrapper{flex-direction:column;align-items:center;max-width:412px;min-width:320px;padding:25px 29px;}
.main-footer__logo{display:none;}
.main-footer__social{margin:0 0 27px 28px;}
.main-footer__copyright{order:0;}
}