img {
	max-width: 100%;
	height: auto;
}
.container {
	background: #ffffff;
}

.title {
	width: 50%;
	max-height: 330px;
	margin: 0 auto;
}

svg.intro .text {
  display: none;
}

svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #d03785;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 2.5s ease-in-out forwards;
          animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}
svg.intro.go .text-stroke-2 {
  stroke:  #222222;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
.page-main {
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	max-height: 100vh;
}

.page-main__left{
  margin-top: auto; 
  transform: translate(0,0);
  opacity: 0;
  animation: transfer 1s ease-in-out 1s forwards;

}

.page-main__center {
  margin-top: auto;
  transform: translate(0,0);
  opacity: 1;
  animation: transfer-top 1s ease-in-out;
}

.page-main__miniature{
	position: absolute;
	top: 1%;
	left: 2%;
	width: 88%;
	height: 62%;
	overflow: hidden;
}

.page-main__miniature::before {
  content: "";
  position: absolute;
  top: -1%;
  left: -1%;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.8;
  background: #000000 url(../images/guitarbarn.jpg) no-repeat;
  background-size: cover;

}

.page-main__miniature:hover::before{
	transform: scale(1.1);
	transition: 0.4s;
}

.page-main__right {
  margin-top: auto;
  transform: translate(0,0);
  opacity: 0;
  animation: transfer-right 1s ease-in-out 0.5s forwards;
}


 @keyframes transfer {
 	0% {transform: translate(-100px, 0);
          opacity: 0;
 	}
 	
 	100% {  transform: translate(0,0);
 		opacity:1;
 	}
 }

 @keyframes transfer-right {
 	0% {transform: translate(100px, 0);
          opacity: 0;
 	}
 	
 	100% {  transform: translate(0,0);
 		opacity:1;
 	}
 }

 @keyframes transfer-top {
 	0% {transform: translate(0, -100px);
          opacity: 0;
 	}
 	
 	100% {  transform: translate(0,0);
 		opacity:1;
 	}
 }

@media (max-width: 769px) {
	.title {
		width: 100%;
	}

   .page-main {
   	flex-wrap: wrap;
   }

   .page-main__center {
   	padding-left: 3%;
   	width: 100%;
   	order: 1;
   }

   .page-main__left {
   	width: 100%;
   	order:2;
   }

   .page-main__right {
   	width: 100%;
   	order: 3;
   	padding-left: 3%;
   }

   .page-main__miniature {
   	  left: 5%;
   	  width: 86%;
   }

}
